<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div><h1> WELCOME TO TINY URL </h1></div>


<ul>
<h3> Register <a href="/register"><em>Here</em></a></h3>
</ul>
<h3><ul> Login: <a href="/login"><button><strong>Login</strong></button></a></ul></h3>
<br>

<img src="https://static.makeuseof.com/wp-content/uploads/2015/11/shorten-url-670x335.jpg">

</body>
</html>






