<!-- views/partials/header.ejs -->

<div><h1> WELCOME TO TINY URL </h1></div>


<ul>
<h2> Register <a href="/register">Here</a></h2>
</ul>
<ul> Login: <a href="/login"><button>Login</button></a></ul>
<br>




