<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
	<header>
    <% include ./partials/_header %>
	</header>
    <!-- Add your EJS code here -->
    
    
    <form action="/urls/<%=shortURL%>" method="POST" style="margin:150px;">

      <li> SHORT URL : <%= shortURL %></li>

      <input type="text" name = "updatedURL" style="width: 300px">
      <button>UPDATE </button>
      

    </form>
    
    
    
</body>
</html>