<!DOCTYPE html>
<html lang="en">
<head>
 <title>TinyApp</title>
</head>
<body>

    <!-- Add your EJS code here -->
    <header>
    <% include ./partials/_header %>
	</header>
    <% for (var obj in urls) { %>
    <li><%= obj %> : <%= urls[obj]%></li> 

    <% }%>
</body>
</html>