
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	
	

	<form method="POST" action="/login">
	<label for="username">Username:  </label>
     <input id="username" type="email" name="email"
       placeholder="enter email" style="width: 300px">
       <br>
        <br>
         
    <label for="password">Password:  </label>
    <input id="password" type="password" name="password"
       placeholder="enter password" style="width: 300px">
       <br>
        <br>
         
    <button>LOGIN</button>
	</form> 
	



</body>
</html>